body {
    background-color: #FAD7A0;
}
.navbar {
    font-family: 'Times New Roman', Times, serif;
}
.container h4 {
    font-family: "monstserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}