@media screen and (max-width : 1200px) {
    #hero .text-hero {
        padding: 0;
    }
}

@media screen and (max-width : 992px) {
    .navbar .login {
        display: block;
    }

    #hero .container .row {
        padding-top: 80px;
    }

    #hero h1 {
        text-align: center;
        font-size: x-large;
        line-height: 30px;
    }

    #hero img {
        padding: 0;
        display: block;
        margin: auto;
    }

    #hero p {
        margin: auto;
        padding: 0;
    }

    #hero img>div {
        justify-content: center;
    }

    #hero button {
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    #hero a {
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    #tentang {
        margin-top: 30px;
    }

    #tentang img {
        width: 80%;
        padding: 0;
        display: block;
        margin: auto;
    }

    #tentang h2,
    p {
        text-align: center;
        padding: 0, 20px;
    }

    #tentang .total-cart *p {
        font-size: 20;
        font-weight: 100;
    }
}

@media screen and (max-width : 768px) {
    #hero img {
        width: 50%;
        padding: 0;
        display: block;
        margin: auto;
    }

    #tentang img {
        width: 60%;
        padding: 0;
        display: block;
        margin: auto;
    }

    #tentang h2,
    p {
        text-align: center;
        padding: 0, 20px;
    }

    #tentang .total-cart *p {
        font-size: 20;
        font-weight: 100;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width : 576px) {
    .footer-col {
        width: 100%;
    }
}

@media screen and (max-width : 320px) {
    #testimoni .card{
        width: 2rem;
    }
}